body{
width: 700px;
height: 500px;
background-color: beige;
margin: 0 auto;
padding: 20px;
position: relative;
align-content: center;
}


h1{
font-weight: 400;
text-align: center;
padding-top: 0 auto;
}

.divh2{
text-decoration: dashed;
width: 780px;
background-color: whitesmoke;
color: black;
margin: 0 auto;
font-size: medium;
text-align: center;

}


.flex-container{
margin: 0 auto;
width: 700px;
height: 430px;
display: flex;


}

.container{
    width: 800px;
    height: 1000px;
    background-color: bisque;
    flex-direction: row;
}

#titulopratos{
    text-transform: uppercase;
    background-color: white;
    border: 15px solid whitesmoke;
    border-radius: 30px;
    position: relative;
    color: blue;
    text-decoration: solid;
    text-align: center;
}


